<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dooc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
<style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css);
    </style>
</head>
<body>
    <div class="flex min-h-screen bg-gray-900 text-white">
        <!-- Sidebar -->
        <aside class="w-64 bg-gray-800 p-6">
            <div class="flex items-center mb-10">
                <!-- <img src="logo.png" alt="Logo" class="w-10 h-10 mr-3"> -->
                <span class="text-2xl font-semibold">Sonic Sentry</span>
            </div>
            <nav class="space-y-4">
                {% set current_url = request.path %}

                <a href="{{ url_for('index') }}" class="flex items-center p-3 {{ 'bg-gray-700' if current_url == url_for('index') else 'hover:bg-gray-700' }} rounded-lg">
                    <span class="material-icons mr-3">home</span> Home
                </a>
                <a href="{{ url_for('add_new') }}" class="flex items-center p-3 {{ 'bg-gray-700' if current_url == url_for('add_new') else 'hover:bg-gray-700' }} rounded-lg">
                    <span class="material-icons mr-3">add new</span> Add New
                </a>
    
                <a href="{{ url_for('settings_page') }}" class="flex items-center p-3 {{ 'bg-gray-700' if current_url == url_for('settings_page') else 'hover:bg-gray-700' }} rounded-lg">
                    <span class="material-icons mr-3">settings</span> Settings
                </a>
            </nav>
            <button class="mt-10 w-full p-3 text-left hover:bg-gray-700 rounded-lg">
                Logout
            </button>
        </aside>

        <!-- Main Dashboard Content -->
        <div class="flex-1 p-6 bg-gray-900">
            {% block content %}
            <!-- Main content will go here -->
            {% endblock %}

        </div>
    </div>




    {% block scripts %}
    <!-- Main content will go here -->
    {% endblock %}



    
</body>
</html>